# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.old

# Folders
_obj
_test
bin

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
!utilities/**/*.exe
*.test
*.prof

**/.*

dist
src/v*
bin/*.exe
bin/*.log
bin/LICENSE
!bin/buildtools/*
!assets/buildtools/*
bin/*.zip
bin/nvm/*

!.gitignore
!.gitattributes
!.github
tests
