<section class="payment">
    <h2>اختر البنك للدفع</h2>
    <form action="/payment" method="POST">
        <div class="bank-option">
            <input type="radio" name="bank" value="bank-muscat" required>
            <img src="/images/bank-muscat.jpg" alt="بنك مسقط">
        </div>
        <div class="bank-option">
            <input type="radio" name="bank" value="bank-dhofar">
            <img src="/images/bank-dhofar.jpg" alt="بنك ظفار">
        </div>
        <div class="bank-option">
            <input type="radio" name="bank" value="bank-nbo">
            <img src="/images/bank-nbo.jpg" alt="البنك الوطني العماني">
        </div>
        <button type="submit">متابعة</button>
    </form>
</section>