name: 'Close stale issues and PR'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 7 days.'
          stale-pr-message: 'This PR is stale because it has been open 45 days with no activity.'
          close-issue-message: 'This issue was closed because it has been stalled for 7 days with no activity.'
          days-before-stale: 30
          days-before-close: 7
          days-before-pr-close: -1
          start-date: '2021-09-15T05:00:00Z'
          exempt-all-assignees: true
          exempt-all-milestones: true
          exempt-issue-labels: 'help wanted,consider for rt'
